.wd-top-input {
    background-color: darkslategrey;
    width: 85%;
    border-radius: 15px;
    border-color: transparent;
    height: 25px;
    font-family:'Verdana';
}

.wd-gear-settings {
    float: right;
    color: rgb(29,161,242);
    margin-right: 12px;
    font-size: 200%;
    text-decoration: none; 
}

.wd-for-you-hyperlink {
    color: rgb(29,161,242);
    border-style: solid;
    border-width: 5px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgb(29,161,242);
    padding-bottom: 16px;
    border-bottom-style: inherit;
}

.wd-unclicked-hyperlink {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    color: rgb(110, 118, 125);
    font-family: 'Arial';
    font-size: 15px;
    border-style: solid;
    border-width: 5px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgb(55, 61, 68);
}

.wd-trending-titles {
    color: white;
    font-size: 16px;
    font-family: 'Verdana';
    padding-left: 25px;
}

.wd-news-images {
    margin-right: 16px;
    margin-top: 5px;
    float: right;
    height: 100px;
    width: 100px;
    border-radius: 15px;

}


.wd-body-background {
    color: white;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 12px;
    margin-right: 12px;
}

.wd-sidebar-format {
    margin-left: 12px;
    margin-right: 12px;
    border: solid rgb(168, 175, 180);
    border-top: transparent;
    font-family: "Verdana";
    display: flex; 
    align-items: center;
}

.wd-follow-format {
    margin-left: 12px;
    margin-right: 12px;
    border: solid rgb(168, 175, 180);
    border-top: transparent;
    font-family: "Verdana";
    padding-left: 2%;
    font-size: 75%
}

.wd-search-bar {
    border: solid rgb(110, 118, 125);
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: left;
    width: 85%;
    color: rgb(110, 118, 125);
}

.wd-starship-img {
    height: 500px;
    width: 100%
}

.wd-tuit-button {
    background-color: dodgerblue;
    border-radius: 50px;
    border: transparent;
    width: 100%;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: -25px;
    padding: 10px

}

.wd-img-text {
    position: absolute;
    color: white;
    font-family: "Verdana";
    top: 80%;
    left: 2%;
    font-size: 30px
}

.wd-web-development {
    color: rgb(110, 118, 125);
    margin-left: 20px;
    font-family: "Verdana";
    margin-top: 10px;
}

.wd-follow-images {
    height: 48px;
    width: 48px;
    border-radius: 25px;
    border: transparent;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.wd-follow-button {
    background-color: white;
    color: black;
    border-radius: 25px;
    border: transparent;
    font-family: "Verdana";
    font-size: 12px;
}

.wd-main-content-img {
    height: 140px;
    width: 130px;
    float: right
}

.mt-n1 {
    margin-top: -0.9rem !important;
  }

.border-left-right {
    border: solid;
    border-color:rgb(55, 61, 68);
    border-top: transparent;
    border-bottom: transparent;
  }

.border-bottom-gray {
    border: solid;
    border-color:rgb(55, 61, 68);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
  }

.border-clear {
    border: transparent;
}

.w-h-img {
    height: 45px;
    width: 45px;
}